# MODELO: Bosque Aleatorio

#### 1. Cargar datos

In [1]:

import types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

#INSERTAR CREDENCIALES

datos_completos = pd.read_csv(body)

In [2]:
datos_completos.head()
#datos_completos.info()
#datos_completos.shape #el valor de renglones debe de cambiar conforme el tiempo transcurre y se tiene más información de las ventas(3665280, 30)

,tiendaID,marcaID,skuID,gammaID,fechaID,ventas_por_mes,lag1mes_ventas_totales_por_tienda_por_mes,lag1mes_ventas_promedio_por_tienda_por_mes,lag1mes_ventas_totales_por_marca_por_mes,lag1mes_entas_promedio_por_marca_por_mes,...,lag2mes_ventas_totales_por_sku_por_mes,lag2mes_ventas_promedio_por_sku_por_mes,lag3mes_ventas_totales_por_tienda_por_mes,lag3mes_ventas_promedio_por_tienda_por_mes,lag3mes_ventas_totales_por_marca_por_mes,lag3mes_entas_promedio_por_marca_por_mes,lag3mes_ventas_totales_por_gamma_por_mes,lag3mes_ventas_promedio_por_gamma_por_mes,lag3mes_ventas_totales_por_sku_por_mes,lag3mes_ventas_promedio_por_sku_por_mes
0,1,2,1,1,0,0,70,1.044776,355,1.047198,...,1,1.0,70,1.044776,355,1.047198,86507,1.161542,1,1.0
1,1,2,1,1,1,0,70,1.044776,355,1.047198,...,1,1.0,70,1.044776,355,1.047198,86507,1.161542,1,1.0
2,1,2,1,1,2,0,79,1.128571,379,1.046961,...,1,1.0,70,1.044776,355,1.047198,86507,1.161542,1,1.0
3,1,2,1,1,3,0,87,1.060976,264,1.068826,...,1,1.0,70,1.044776,355,1.047198,86507,1.161542,1,1.0
4,1,2,1,1,4,0,75,1.041667,136,1.079365,...,0,0.0,79,1.128571,379,1.046961,92120,1.137986,1,1.0

In [3]:
datos_modelo = datos_completos

#### 2. Dividir en entrenamiento y prueba

In [4]:
#Hasta este número se considera el conjunto de entrenamiento
ultimo_mes_entrenamiento = datos_modelo.fechaID.unique()
ultimo_mes_entrenamiento = ultimo_mes_entrenamiento[-2]
ultimo_mes_entrenamiento

8

In [5]:
#Se tiene un mes para el conjunto de prueba
periodo_prueba = datos_modelo.fechaID.unique()
periodo_prueba = periodo_prueba[-1]
periodo_prueba

9

In [6]:
#dividir el archivo en entrenamiento y prueba
entrenamiento = datos_modelo[datos_modelo['fechaID']<=ultimo_mes_entrenamiento]
entrenamiento.head()
#entrenamiento.shape #Para este conjunto de datos, este valor va a cambiar conforme se adquieran más datos(3298752, 30)

,tiendaID,marcaID,skuID,gammaID,fechaID,ventas_por_mes,lag1mes_ventas_totales_por_tienda_por_mes,lag1mes_ventas_promedio_por_tienda_por_mes,lag1mes_ventas_totales_por_marca_por_mes,lag1mes_entas_promedio_por_marca_por_mes,...,lag2mes_ventas_totales_por_sku_por_mes,lag2mes_ventas_promedio_por_sku_por_mes,lag3mes_ventas_totales_por_tienda_por_mes,lag3mes_ventas_promedio_por_tienda_por_mes,lag3mes_ventas_totales_por_marca_por_mes,lag3mes_entas_promedio_por_marca_por_mes,lag3mes_ventas_totales_por_gamma_por_mes,lag3mes_ventas_promedio_por_gamma_por_mes,lag3mes_ventas_totales_por_sku_por_mes,lag3mes_ventas_promedio_por_sku_por_mes
0,1,2,1,1,0,0,70,1.044776,355,1.047198,...,1,1.0,70,1.044776,355,1.047198,86507,1.161542,1,1.0
1,1,2,1,1,1,0,70,1.044776,355,1.047198,...,1,1.0,70,1.044776,355,1.047198,86507,1.161542,1,1.0
2,1,2,1,1,2,0,79,1.128571,379,1.046961,...,1,1.0,70,1.044776,355,1.047198,86507,1.161542,1,1.0
3,1,2,1,1,3,0,87,1.060976,264,1.068826,...,1,1.0,70,1.044776,355,1.047198,86507,1.161542,1,1.0
4,1,2,1,1,4,0,75,1.041667,136,1.079365,...,0,0.0,79,1.128571,379,1.046961,92120,1.137986,1,1.0

In [7]:
entrenamiento.shape

(7817355, 30)

In [8]:
prueba = datos_modelo[datos_modelo['fechaID']==periodo_prueba]
prueba.head()
#prueba.shape # Este número no va a cambiar dado que corresponde a la combinación de 1mes*12marcas*4gammas*4familias*1909puntosdeventa(366528, 30)

,tiendaID,marcaID,skuID,gammaID,fechaID,ventas_por_mes,lag1mes_ventas_totales_por_tienda_por_mes,lag1mes_ventas_promedio_por_tienda_por_mes,lag1mes_ventas_totales_por_marca_por_mes,lag1mes_entas_promedio_por_marca_por_mes,...,lag2mes_ventas_totales_por_sku_por_mes,lag2mes_ventas_promedio_por_sku_por_mes,lag3mes_ventas_totales_por_tienda_por_mes,lag3mes_ventas_promedio_por_tienda_por_mes,lag3mes_ventas_totales_por_marca_por_mes,lag3mes_entas_promedio_por_marca_por_mes,lag3mes_ventas_totales_por_gamma_por_mes,lag3mes_ventas_promedio_por_gamma_por_mes,lag3mes_ventas_totales_por_sku_por_mes,lag3mes_ventas_promedio_por_sku_por_mes
9,1,2,1,1,9,0,61,1.070175,53,1.081633,...,1,1.0,73,1.028169,32,1.066667,95478,1.156594,0,0.0
19,2,2,1,1,9,0,15,1.000000,53,1.081633,...,1,1.0,27,1.038462,32,1.066667,95478,1.156594,0,0.0
29,3,2,1,1,9,0,37,1.000000,53,1.081633,...,1,1.0,61,1.089286,32,1.066667,95478,1.156594,0,0.0
39,4,2,1,1,9,0,28,1.037037,53,1.081633,...,1,1.0,16,1.230769,32,1.066667,95478,1.156594,0,0.0
49,5,2,1,1,9,0,6,1.000000,53,1.081633,...,1,1.0,41,1.051282,32,1.066667,95478,1.156594,0,0.0

In [9]:
prueba.shape

(868595, 30)

#### 3. Librerías para modelo

In [10]:
import numpy as np
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV
from scipy.stats import sem
from sklearn.model_selection import TimeSeriesSplit
import warnings; warnings.simplefilter('ignore')

#### 4. Preparar datos para modelo

In [11]:
# Separamos el conjunto de entrenamiento en y y X 
x = entrenamiento.iloc[:, entrenamiento.columns != 'ventas_por_mes'].values #arreglo de valores
y = entrenamiento.iloc[:, entrenamiento.columns == 'ventas_por_mes'].values

In [12]:
x

array([[1.00000000e+00, 2.00000000e+00, 1.00000000e+00, ...,
        1.16154197e+00, 1.00000000e+00, 1.00000000e+00],
       [1.00000000e+00, 2.00000000e+00, 1.00000000e+00, ...,
        1.16154197e+00, 1.00000000e+00, 1.00000000e+00],
       [1.00000000e+00, 2.00000000e+00, 1.00000000e+00, ...,
        1.16154197e+00, 1.00000000e+00, 1.00000000e+00],
       ...,
       [1.90900000e+03, 5.00000000e+00, 9.90000000e+01, ...,
        1.11052100e+00, 0.00000000e+00, 0.00000000e+00],
       [1.90900000e+03, 5.00000000e+00, 9.90000000e+01, ...,
        1.10314300e+00, 0.00000000e+00, 0.00000000e+00],
       [1.90900000e+03, 5.00000000e+00, 9.90000000e+01, ...,
        1.18250100e+00, 0.00000000e+00, 0.00000000e+00]])

In [13]:
y

array([[0],
       [0],
       [0],
       ...,
       [0],
       [0],
       [0]])

#### 5. Validación cruzada para series de tiempo

In [14]:
#validación cruzada: utiliza la función TimeSeriesSplit donde se parte el conjunto de entrenamiento en 3 splits de diferente longitud. 
tscv = TimeSeriesSplit(n_splits=3)#TimeSeriesSplit(max_train_size=None, n_splits=3)
my_cv = TimeSeriesSplit(n_splits=3).split(x)#<generator object TimeSeriesSplit.split at 0x7f01f9aa86d0>

#### 6: Aplicar un GridSearch para probar diferentes parámetros para el modelo

In [15]:
param_grid = {
    'bootstrap': [True],
    'max_depth': [2, 9],
    'min_samples_split': [8, 10],
    'n_estimators': [2, 3]
}

In [16]:
scoring = ['neg_mean_squared_error', 'neg_mean_absolute_error']
clf = GridSearchCV(RandomForestRegressor(), 
                   param_grid,
                   scoring=scoring,
                   cv=my_cv, 
                   #n_jobs=-1, 
                   refit = 'neg_mean_absolute_error') #utilizando que medida de scoring en este caso cualquiera de los 2

#### 7: Ajustar el Modelo: Entrenar el modelo con los diferentes parámetros

In [17]:
clf.fit(x,y)
#8:55 -

GridSearchCV(cv=<generator object TimeSeriesSplit.split at 0x7f338d3bf9e8>,
       error_score='raise-deprecating',
       estimator=RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators='warn', n_jobs=None,
           oob_score=False, random_state=None, verbose=0, warm_start=False),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid={'bootstrap': [True], 'max_depth': [2, 9], 'min_samples_split': [8, 10], 'n_estimators': [2, 3]},
       pre_dispatch='2*n_jobs', refit='neg_mean_absolute_error',
       return_train_score='warn',
       scoring=['neg_mean_squared_error', 'neg_mean_absolute_error'],
       verbose=0)

#### 8: Analizar resultados de cada modelo que se corrió

In [18]:
resultados_GS = pd.DataFrame(clf.cv_results_) #dataframe con resultados de todas las combinaicones de parámetros
resultados_GS

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_bootstrap,param_max_depth,param_min_samples_split,param_n_estimators,params,split0_test_neg_mean_squared_error,...,split1_test_neg_mean_absolute_error,split2_test_neg_mean_absolute_error,mean_test_neg_mean_absolute_error,std_test_neg_mean_absolute_error,rank_test_neg_mean_absolute_error,split0_train_neg_mean_absolute_error,split1_train_neg_mean_absolute_error,split2_train_neg_mean_absolute_error,mean_train_neg_mean_absolute_error,std_train_neg_mean_absolute_error
0,26.816066,10.134283,0.847666,0.060097,True,2,8,2,"{'bootstrap': True, 'max_depth': 2, 'min_sampl...",-0.541945,...,-0.208063,-0.120148,-0.171287,0.037301,7,-0.222831,-0.203216,-0.206709,-0.210919,0.008543
1,37.536013,15.243256,0.931639,0.012668,True,2,8,3,"{'bootstrap': True, 'max_depth': 2, 'min_sampl...",-0.541487,...,-0.208142,-0.120153,-0.171460,0.037380,8,-0.223015,-0.202349,-0.206664,-0.210676,0.008901
2,27.180488,10.590345,0.791277,0.003567,True,2,10,2,"{'bootstrap': True, 'max_depth': 2, 'min_sampl...",-0.540032,...,-0.207442,-0.120124,-0.171025,0.037090,5,-0.221835,-0.201959,-0.206399,-0.210064,0.008518
3,37.356578,15.307896,0.936545,0.004921,True,2,10,3,"{'bootstrap': True, 'max_depth': 2, 'min_sampl...",-0.542424,...,-0.207339,-0.120218,-0.171204,0.037085,6,-0.223527,-0.201987,-0.206671,-0.210728,0.009250
4,87.692832,40.988893,0.958071,0.020261,True,9,8,2,"{'bootstrap': True, 'max_depth': 9, 'min_sampl...",-0.473719,...,-0.185790,-0.109988,-0.147769,0.030947,2,-0.155173,-0.144623,-0.150273,-0.150023,0.004311
5,129.607080,59.814331,1.156964,0.024411,True,9,8,3,"{'bootstrap': True, 'max_depth': 9, 'min_sampl...",-0.466549,...,-0.184223,-0.109132,-0.146789,0.030656,1,-0.155676,-0.143487,-0.149800,-0.149654,0.004977
6,88.088960,39.755504,0.958311,0.004315,True,9,10,2,"{'bootstrap': True, 'max_depth': 9, 'min_sampl...",-0.674051,...,-0.180434,-0.107183,-0.159958,0.037629,3,-0.157455,-0.144905,-0.149843,-0.150734,0.005162
7,129.055077,60.098128,1.177018,0.026986,True,9,10,3,"{'bootstrap': True, 'max_depth': 9, 'min_sampl...",-0.548037,...,-0.183059,-0.107733,-0.163301,0.039835,4,-0.155930,-0.143593,-0.149653,-0.149725,0.005037

In [19]:
resultados_GS['mean_test_neg_mean_squared_error']

0   -0.464193
1   -0.463203
2   -0.462043
3   -0.461954
4   -0.459278
5   -0.439155
6   -0.528024
7   -0.468133
Name: mean_test_neg_mean_squared_error, dtype: float64

In [20]:
resultados_GS['mean_test_neg_mean_absolute_error']

0   -0.171287
1   -0.171460
2   -0.171025
3   -0.171204
4   -0.147769
5   -0.146789
6   -0.159958
7   -0.163301
Name: mean_test_neg_mean_absolute_error, dtype: float64

In [21]:
#clf.best_estimator_ #Mejores parámetros en general 
#clf.best_score_ #Mejor MSE
clf.best_index_ #De los modelos que se corrieron en que "lugar" esta el modelo de la tabla anterior
#clf.scorer_ #Que medida de error se utiliza make_scorer(mean_squared_error, greater_is_better=False)

5

In [22]:
mejores_valores = dict(clf.best_params_.items())
mejores_valores

{'bootstrap': True, 'max_depth': 9, 'min_samples_split': 8, 'n_estimators': 3}

In [23]:
MAE_entrenamiento = clf.best_score_
MAE_entrenamiento

-0.14678861961101805

In [25]:
MSE_entrenamiento = (abs(-0.439155))
MSE_entrenamiento

0.439155

In [26]:
RMSE_entrenamiento = np.sqrt(abs(MSE_entrenamiento))
RMSE_entrenamiento

0.6626877092567811

#### 9. Entrenar el modelo con la mejor combinación de parámetros obtenida

In [27]:
# Fit regression model
regr_1 = RandomForestRegressor(
    max_depth=mejores_valores['max_depth'],
    min_samples_split=mejores_valores['min_samples_split'],
    n_estimators=mejores_valores['n_estimators'])

In [28]:
regr_1.fit(x, y) #3:23-3:24

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=9,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=8,
           min_weight_fraction_leaf=0.0, n_estimators=3, n_jobs=None,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

#### 10. Preparar datos del conjunto de prueba para ser empleados en el modelo

In [29]:
prueba_x = prueba.iloc[:, prueba.columns != 'ventas_por_mes'].values
prueba_x

array([[1.00000000e+00, 2.00000000e+00, 1.00000000e+00, ...,
        1.15659411e+00, 0.00000000e+00, 0.00000000e+00],
       [2.00000000e+00, 2.00000000e+00, 1.00000000e+00, ...,
        1.15659411e+00, 0.00000000e+00, 0.00000000e+00],
       [3.00000000e+00, 2.00000000e+00, 1.00000000e+00, ...,
        1.15659411e+00, 0.00000000e+00, 0.00000000e+00],
       ...,
       [1.90700000e+03, 5.00000000e+00, 9.90000000e+01, ...,
        1.15659400e+00, 0.00000000e+00, 0.00000000e+00],
       [1.90800000e+03, 5.00000000e+00, 9.90000000e+01, ...,
        1.15659400e+00, 0.00000000e+00, 0.00000000e+00],
       [1.90900000e+03, 5.00000000e+00, 9.90000000e+01, ...,
        1.15659400e+00, 0.00000000e+00, 0.00000000e+00]])

#### 11. Utilizar el modelo para predecir con conjunto de prueba

In [30]:
pred = regr_1.predict(prueba_x)

#### 12. Revisar predicciones

In [31]:
max(pred)

25.53067647253694

In [32]:
min(pred)

0.002186919754918148

In [33]:
pred = np.clip(pred,0,200)

In [34]:
prediccion = pd.DataFrame(pred, columns = ['ventas_por_mes_pred'])
prediccion.head()

   ventas_por_mes_pred
0             0.009327
1             0.002187
2             0.003791
3             0.003791
4             0.002187

In [35]:
prediccion = prediccion.round()
prediccion.head()

   ventas_por_mes_pred
0                  0.0
1                  0.0
2                  0.0
3                  0.0
4                  0.0

In [36]:
predicciones_totales_entrenamiento = prediccion.sum()
predicciones_totales_entrenamiento

ventas_por_mes_pred    71094.0
dtype: float64

In [37]:
prueba_resultados = pd.concat([prueba.reset_index(drop=True), prediccion], axis = 1, ignore_index=False)

#### 13. Resultados conjunto de prueba

In [38]:
#calcular mse
prueba_resultados['error'] = ((prueba_resultados['ventas_por_mes'] - prueba_resultados['ventas_por_mes_pred']) ** 2) / 868595
#prueba_resultados.head()
MSE = prueba_resultados['error'].sum()
MSE

0.25961696763163483

In [39]:
RMSE = MSE ** (1/2)
RMSE

0.5095262187872522

In [40]:
#Calcular MAE
prueba_resultados['error_MAE'] = abs(prueba_resultados['ventas_por_mes'] - prueba_resultados['ventas_por_mes_pred']) / 868595
prueba_resultados.head()
MAE = prueba_resultados['error_MAE'].sum()
MAE

0.0884002325594782

In [41]:
# https://towardsdatascience.com/hyperparameter-tuning-the-random-forest-in-python-using-scikit-learn-28d2aa77dd74